<template>
  <div class="card">
    <div class="card__header">
      <h5>{{ title }}</h5>
    </div>
    <div class="card__content">
      <nuxt-img :src=src format="webp" loading="lazy" />
      <div>
        <p>
          A deux pas de la mairie et de la place du marché, découvrez votre nouvelle résidence,
          une réalisation intimiste à l’architecture élégante et durable, composée d’appartements
          lumineux du studio au 5 pièces.
        </p>
        <p>
          Tous les logements disposent d’un espace extérieur : terrasses, balcons, jardins privatifs
          en rez-de-chaussée et rooftop. Pensés avec soin, ils bénéficient de prestations de grande
          qualité : parquet massif, menuiseries extérieures en aluminium, WC suspendus, volets
          roulants électriques et des caves pour tous les logements.
        </p>
        <p>
          Au sein d'une commune résolument verte, avec une surface boisée de 156 hectares qui couvre
          la moitié de celle-ci.
        </p>
        <p>
          Entourée par des forêts domaniales, elle représente un patrimoine naturel idéal.
        </p>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "card",
  props: {
    title: {
      type: String,
    },
    src: {
      type: String,
    },
  },
}
</script>

<style lang="scss" scoped>
.card {
  box-sizing: border-box;
  padding: 0.3rem;
  background-color: rgba(0, 0, 0, 0.03);
  width: 100%;

  h5 {
    font-size: 1.25rem;
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
  }

  &__header {
    color: rgba(0, 0, 0, 0.6);
  }

  &__content {
    display: flex;
    gap: 0.2rem 0.5rem;

    img {
      width: 40%;
    }

    div {
      width: 60%;
    }
  }
}
</style>
